<div class="container text-right"  dir="rtl">
  <div class="row">
    <div class="col">
      <mat-card  class="example-card qCard">
  <mat-card-header >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="bf"> שאלה מספר {{ questions[number].id }}</mat-card-title>
  </mat-card-header>
  <img *ngIf="questions[number].hasImage"
       mat-card-image src=[questions[number].imageUrl]
       alt="image question">
  <mat-card-content>
    <p class="mf">
      {{ questions[number].question }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-info bt-answer mf"
                [ngStyle]="getColor(1)"
                (click)="onAnswer(1)">{{ questions[number].a1 }}</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info bt-answer mf"
                [ngStyle]="getColor(2)"
                (click)="onAnswer(2)">{{ questions[number].a2 }}</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-info bt-answer mf"
                [ngStyle]="getColor(3)"
                (click)="onAnswer(3)">{{ questions[number].a3 }}</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info bt-answer mf"
                [ngStyle]="getColor(4)"
                (click)="onAnswer(4)">{{ questions[number].a4 }}</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
    </div>
  </div>
</div>

